@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Source+Code+Pro:ital,wght@1,300&display=swap');

html{
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    background-image: url(assets/download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    height: 7vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
}

.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.cards{
    opacity: 0.8;
    font-size: 1rem;
    font-weight: bold;
    background-color: #37ffdafe;
}
.cards:hover{
    opacity: 1;
}

span{

    font-weight: 200;
}